@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-[#f7f8fa] text-slate-800 antialiased;
    font-family:
      Inter,
      Segoe UI,
      system-ui,
      sans-serif;
  }
}

.drag-region {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
